@font-face {
    font-family: Metropolis-Bold;
    src: url(../assets/Metropolis-Bold.otf);
}
@font-face {
    font-family: Metropolis-Medium;
    src: url(../assets/Metropolis-Medium.otf);
}
@font-face {
    font-family: Metropolis-Regular;
    src: url(../assets/Metropolis-Regular.otf);
}
body {
    background: linear-gradient(
        to right,
        #8d8c80 0%,
        #8d8c80 0.1%,
        #C8C6AF 30%,
        #C8C6AF 70%,
        #8d8c80 99.9%,
        #8d8c80 100%
    );
    margin: 0% 28%;
    color: #333;
}
h1 {
    font-family: 'Metropolis-Bold';
    margin: 1em 0em 3em 0em;
    text-align: center;
    font-size: 60px;
}
div {
    flex-direction: column;
    align-items: center;
    display: flex;
}
#main {
    gap: 8em;
}
.item:last-child {
    margin-bottom: 8em;
}
.choices {
    flex-direction: row;
    gap: 20px;
}
p {
    font-family: 'Metropolis-Medium';
    text-align: center;
    text-wrap: wrap;
    font-size: 25px;
}
button {
    font-family: 'Metropolis-Regular';
    background-color: #ECE4B7;
    box-shadow: #555 5px 5px;
    outline: #fff hidden;
    border-radius: 10px;
    transition: 0.4s;
    padding: 0px 1em;
    font-size: 20px;
    color: #333;
    height: 3.5em;
    border: none;
    width: 17em;
}
button:hover {
    font-family: 'Metropolis-Bold';
    background-color: #D9DD92;
}
#picked {
    font-family: 'Metropolis-Bold';
    background-color: #519872;
    pointer-events: none;
}
#unpicked {
    background-color: #B4656F;
    pointer-events: none;
}
#disabled {
    background-color: #B2AB81;
    pointer-events: none;
}
@media screen and (max-width: 750px) {
    body { margin: 0% 18%; }
    .choices { flex-direction: column; }
}
@media screen and (max-width: 510px) {
    body { margin: 0% 8%; }
}
@media screen and (max-width: 380px) {
    body { margin: 0%; }
    h1 { font-size: 55px; }
    p { font-size: 23px;}
    button { font-size: 18px; }
}
@media screen and (max-width: 330px) {
    h1 { font-size: 50px; }
    p { font-size: 21px;}
    button { font-size: 17px; }
}